/* Global styles */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #f4f4f4;
    background-color: #151515;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    overflow-x: hidden;
}

h5 {
    margin: 0;
}

div {
    
}

/* Main */

img {
    max-width: 24rem;
    height: auto;
    border-radius: 0.5rem;
    /* object-fit: cover; *
    /* filter: blur(5px); */
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* Info Container */

.info {
    background-image: url('images/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info h1 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 8rem;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    background: linear-gradient(to right, #af4d4d, #780daa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000000;
}

.info h1:hover {
    cursor: pointer;
}

.info p {
    text-align: center;
}

/* About and Contact Button */

.about-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 6rem;
}

.about-contact div {
    flex: 1;
}

.about {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1rem;
    background-color: rgb(142, 35, 48);
}

.about:hover {
    cursor: pointer;
    font-size: 1.1rem;
}

.contact {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
    background-color: rgb(107, 18, 107);
}

.contact:hover {
    cursor: pointer;
    font-size: 1.1rem;
}

/* Art Form Buttons */

.art-forms {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 32px;
    font-size: 3.5rem;
    padding: 1rem 0 1rem 0;
    flex-wrap: wrap;
}

nav h5:hover {
    color: rgb(161, 100, 218);
    cursor: pointer;
    text-shadow: 0 0 10px rgb(123, 59, 183);
    transition: text-shadow 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

/* Images Container */

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    flex: 2;
}

.images img {
    margin: 0.5rem;
    transition: transform 0.5s ease-in-out;
}

.images img:hover {
    box-shadow: 0 0 20px rgb(147, 65, 224);
    transform: scale(1.05);
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 1rem;
    font-weight: bold;
}

/* Btn */

.draw-border {
    box-shadow: inset 0 0 0 4px #ffffff;
    color: #ffffff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 5px;
    border-left-width: 5px;
}

.draw-border::after {
    border-top-width: 5px;
    border-right-width: 5px;
}

.draw-border:hover {
    color: #a752ba;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: #a752ba;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 17px "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    width: 10rem;
}